@using Microsoft.AspNetCore.Identity
@using BattleBoardGames.Areas.Identity.Data
@inject SignInManager<BattleBoardGamesUser> SignInManager
@inject UserManager<BattleBoardGamesUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1> Bem vindo ao Battle Board Game !!!!</h1>
    @if(SignInManager.IsSignedIn(User))
    {
        <h2>Hello @UserManager.GetUserName(User)!</h2>
    }
    else
    {
        <h2> Por favor faça seu login pelo link: <a asp-area="Identity" asp-page="/Account/Login">Login</a></h2>
        <h2> Ou se cadastre pelo link:  <a asp-area="Identity" asp-page="/Account/Register">Cadastrar</a> </h2>
    }

</div>